#user {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 50%;
  z-index: 999;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-between;
  gap: 0.5rem;
  transform: translateX(-50%);
  padding: 1rem;
  & a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.25rem 1.25rem;
    border: 0.2rem solid var(--blue-shadow-dark-strong);
    box-shadow: 0 0.25rem 2rem var(--blue-shadow-dark-medium);
    background-color: var(--blue-shadow-dark-medium);
    color: var(--blue-900);
    backdrop-filter: blur(0.25rem);
    border-radius: 0.25rem;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1rem;

    transition: all 0.2s ease-in-out;
    &:hover {
      color: var(--blue-100);
    }
    &.active {
      color: var(--blue-100);
    }
  }
  & button {
    background-color: var(--red-shadow-dark-medium);
    color: var(--red-100);
    border: 0.2rem solid var(--red-shadow-dark-strong);
    box-shadow: 0 0.25rem 2rem var(--red-shadow-dark-medium);
    backdrop-filter: blur(0.25rem);
    border-radius: 0.25rem;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1rem;
    padding: 0.25rem 1.25rem;
    cursor: pointer;

    outline: none;
    transition: all 0.2s ease-in-out;
    &:hover {
      color: var(--red-500);
    }
    &:focus {
      color: var(--red-500);
    }
  }
  @media screen and (max-width: 768px) {
    right: 0;
  }
}
